body {
    font-family: sans-serif;
    background-color: #cfd5f0;
    margin-left: 10%;
    margin-right: 10%;
  }

header {
    background-color: #677ee7;
    text-align: center;
    padding: 2%;
    margin-bottom: 2%;
}

section, div{
    background-color:#9AA8E6;
    padding: 2%;
    text-align: justify;
}


hr {
    margin-top: 5%;
    height: 1px;
    background-color: black;
    border-color: black;
}


footer {
    text-align: center;
}